.file-preview {
	width: 20%;
	margin: 1rem 2.5%;
	position: relative;
	aspect-ratio: 1/1;
	overflow: hidden
}

.file-preview img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	object-fit: cover
}

.file-preview .close-icon,
.file-preview .status-indicator {
	--size: 20px;
	position: absolute;
	line-height: var(--size);
	height: var(--size);
	border-radius: var(--size);
	box-shadow: 0 0 5px currentColor;
	right: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	padding: 0
}

.file-preview .close-icon {
	width: var(--size);
	font-size: var(--size);
	background: #933;
	color: #fff;
	top: .25rem;
	cursor: pointer
}

.file-preview .status-indicator {
	font-size: calc(var(--size)*0.75);
	bottom: .25rem;
	padding: 0 10px
}

.file-preview .loading-indicator {
	-webkit-animation: pulse-0f8a2d78 1.5s linear 0s infinite;
	animation: pulse-0f8a2d78 1.5s linear 0s infinite;
	color: #000
}

.file-preview .success-indicator {
	background: #6c6;
	color: #040
}

.file-preview .failure-indicator {
	background: #933;
	color: #fff
}

.drop-area {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
	background: hsla(0, 0%, 100%, .333);
	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	transition: .2s ease
}

.drop-area {
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	background: hsla(0, 0%, 100%, .8)
}


.upload-button {
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	border-radius: 50px;
	padding: .75rem 3rem;
	margin: 1rem auto;
	font-size: 1.25rem;
	font-weight: 700;
	background: #369;
	color: #fff;
	text-transform: uppercase
}

button {
	cursor: pointer
}